.contaner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 70%;
}

.titleText {
    font-family: Inter, Arial;
    font-size: 36px;
    padding: 20px 0 20px 0;
}

.products {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    max-width: 32vh;
    height: 450px;
}

.productImage {
    width: 32vh;
    height: 32vh;
}

.productButton {
    margin-top: 10px;

    background-color: white;
    border-radius: 20px;
    border: 1px groove black;
    font-size: 20px;
    padding: 5px 10px;

}

.productButton:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

.advantages-section {
    padding-top: 20px;
}

.advantage {
    display: inline-block;

    text-align: center;
    width: 30%;

    margin-bottom: 50px;
}

.advantage-subtitle {
    font-size: 18px;
}

.advantage-description {
    color: gray;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1;

    width: 100%;
    padding-bottom: 20px;
}

.icons {
    width: 35px;
    padding-right: 5px;
}

.numberBlock {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.popupProduct {
    display: flex;
    flex-direction: row;
}

.popupProductImage {
    width: 50vh;
    height: 50vh;
}

.popupTextBlock{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.popupTitle{
    font-size: 30px;
}

.popupDesc{
    color: rgb(88, 88, 88);
}